*:hover, *:focus, *:active, *:active:focus
{
  outline: 0 !important;
  user-select: none;
}

*:focus
{
  box-shadow: none !important;
}

a, a:hover {cursor: pointer;}

.no-margin-left
{
  margin-left: 0 !important;
}

.no-margin-right
{
  margin-right: 0 !important;
}

.no-padding-left
{
  padding-left: 0 !important;
}

.no-padding-right
{
  padding-right: 0 !important;
}

.margin-top-10
{
  margin-top: 10px;
}

.align-items-center
{
  align-items: center;
}

h1, h2, h3, h4, h5
{
  font-weight: 400;
  margin: 0;
}

body 
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: rgb(97, 97, 97);
  background-color: #F5F7F8;
}

.loading
{
  text-align: center;
  font-size: 14px;
  font-variant: small-caps;
}

.info-message
{
  text-align: center;
  font-variant: small-caps;
  display: none;
}

.App, .cloudsBackground
{
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(255,255,255,0.6);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-form-container
{
  height: 80vh;
  width: 70vw;
  background-color: white;
  box-shadow: 0 5px 80px 1px rgba(0,0,0,0.15);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  display: flex;

}

.single-form-subcontainer
{
  flex: 0 0 50%;
  height: 100%;
}

.single-form-subcontainer.left
{
  background-color: white;
  position: relative;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.single-form-subcontainer.left img
{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 64px;
}

.single-form-subcontainer.left .slogan
{
  text-align: center;
  width: 100%;
}

.single-form-subcontainer.left .slogan h2
{
  margin: 0;
  font-weight: 200;
  font-size: 25px;
}

.single-form-subcontainer.left .slogan h2 strong
{
  font-weight: 400;
}

.single-form-subcontainer.left form
{
  margin-top: 40px;
  width: 100%;
}

.single-form-subcontainer.left form label, .single-form-subcontainer.left form input
{
  color: #919191;
  display: block;
}

.single-form-subcontainer.left form input:focus::-webkit-input-placeholder { color:transparent; }

.single-form-subcontainer.left form label
{
  font-size: 13px;
}

.single-form-subcontainer.left form input
{
  font-size: 23px;
  border: none;
  border-bottom: 1px solid #919191 !important;
  margin-top: 10px;
  width: 100%;
  font-weight: lighter;
}

.single-form-subcontainer.left form input:first-child
{
  margin-bottom: 10px;
}

.single-form-subcontainer.left form .checkbox-container
{
  position: relative;
  cursor: pointer;
  user-select: none;
  display: inline-block;
}

.single-form-subcontainer.left form .checkbox-container input
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.single-form-subcontainer.left form .checkbox-container .checkmark
{
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  border: 1px solid #666363;
  transition: 0.2s;
}

.single-form-subcontainer.left form .checkbox-container:hover input ~ .checkmark
{
  background-color: #CCC;
}

.single-form-subcontainer.left form .checkbox-container input:checked ~ .checkmark
{
  background: -webkit-linear-gradient(135deg, #05B2AB 0, #9833DC 100%);
  border-color: rgba(0,0,0,0);
  opacity: 0.5;
}

.single-form-subcontainer.left form .checkbox-container .checkmark:after
{
  content: " ";
  position: absolute;
  display: none;
}

.single-form-subcontainer.left form .checkbox-container input:checked ~ .checkmark:after
{
  display: block;
}

.single-form-subcontainer.left form .checkbox-container .text
{
  margin-left: 20px;
  color: #3c3939;
}

.single-form-subcontainer.left form a.password-lost
{
  text-decoration: none;
  color: #3c3939;
  font-size: 13px;
  margin-left: 60px;
}

.single-form-subcontainer.left form a.password-lost:hover
{
  text-decoration: underline;
}

.single-form-subcontainer.left form .button-group
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.single-form-subcontainer.left form .button-group button:first-child
{
  margin: 0 5px 0 0;
  flex-basis: calc(50% - 5px);
}

.single-form-subcontainer.left form .button-group button:last-child
{
  margin: 0 0 0 5px;
  flex-basis: calc(50% - 5px);
}

.single-form-subcontainer.left form button, .login-error-modal .modal-footer .secondary
{
  height: 40px;
  -webkit-appearance: none; 
  background: none;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  flex: 0 0 50%;
  font-weight: 100;
  cursor: pointer;
  transition: 0.2s;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-form-subcontainer.left form button:hover, .login-error-modal .modal-footer .secondary
{
  transform: scale(1.05);
}

.single-form-subcontainer.left form button.primary
{
  color: white;
  position: relative;
}

.single-form-subcontainer.left form button.primary span
{
  z-index: 5;
  letter-spacing: 1px;
}

.single-form-subcontainer.left form button.primary:before
{
  content: " ";
  opacity: 0.5;
  background: linear-gradient(135deg, #297CCD 0, #d952e8 100%);/* W3C */
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  z-index: 3;
}

.single-form-subcontainer.left form button.secondary, .login-error-modal .modal-footer .secondary
{
  border: 1px solid #8a8a8a;
  color: #8a8a8a;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-form-subcontainer.left p 
{
  font-size: 15px;
  font-weight: 200;
  color: #919191;
  margin-top: 40px;
}

.single-form-subcontainer.left p a
{
  text-decoration: none;
  color: #3c3939;
}

.single-form-subcontainer.left p a:hover
{
  text-decoration: underline;
}

.single-form-subcontainer.right
{
  background: url(../img/background.jpg) no-repeat center bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.single-form-subcontainer.right .overlay
{
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #297CCD 0, #d952e8 100%);/* Chrome10+,Safari5.1+ */
  position: absolute;
  opacity: 0.4;
  z-index: 3;
}

.single-form-subcontainer.right .container
{
  z-index: 5;
  position: sticky;
  display: flex;
  justify-content: center;
  padding: 0;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.single-form-subcontainer.right .container nav ul
{
  list-style-type: none;
  padding: 15px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.single-form-subcontainer.right .container nav ul li
{
  display: inline-block;
  padding-right: 20px;
  font-weight: 400;
}

.single-form-subcontainer.right .container nav ul li a
{
  color: white;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
}

.single-form-subcontainer.right .container nav ul li a:hover
{
  transform: translateY(5px);
}

.single-form-subcontainer.right .container .image
{
  display: flex;
  align-items: center;
  margin-top: -54px; /* nav height */
  flex: 1;
}

.single-form-subcontainer.right .container img
{
  width: 30vw;
}

.login-error-modal
{
  max-width: 520px;
}

.login-error-modal .modal-content
{
  border-radius: 0 !important;
}

.login-error-modal .modal-footer .secondary
{
  flex: 0 0 35%;
}

.single-form-subcontainer.left .slogan.register-title h2
{
  margin-bottom: -15px;
  font-size: 30px;
}

.main-container
{
  background-color: #F5F7F8;
  min-height: calc(100vh - 66px);
  max-width: none;
  padding-top: 40px;
  padding-bottom: 30px;
}

.search-container
{
  background-color: #FFF;
  width: 100vw;
  height: 10vh;
}

.main-container .user-container
{
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px 30px 10px 30px;
  text-align: center;
}

.user-container hr
{
  border-color: #f5f5f5;
}

.user-container h5
{
  font-weight: 400;
  margin-bottom: 0;
}

.user-container p 
{
  margin: 0
}

.user-container p.rank
{
  font-weight: 200;
}

.user-container img
{
  height: 130px;
  width: 130px;
  border-radius: 100%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.user-container .badge
{
  width: 100%;
  padding: 5px;
  color: #FFF;
  margin-bottom: 10px;
}

.user-container .badge span
{
  display: block;
  font-size: 18px;
  font-weight: 200;
}

.user-container .badge.pink
{
  background-color: rgb(241, 202, 238);
}

.user-container .badge.blue
{
  background-color: rgb(198, 198, 238);
}

.main-container .activity-feed-trend-title
{
    border: 2px solid rgb(131, 178, 224);
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.main-container .activity-feed-trend-title p
{
    margin: 0;
}

.main-container .activity-feed-trend-title p span
{
    font-weight: bold;
    color: rgb(131, 178, 224);
}

.main-container .activity-feed-trend-title button
{
    position: absolute;
    left: 7.5px;
    top: 7.5px;
}

.main-container .publish-container
{
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  min-height: 44px;
}

.publish-container textarea
{
  background-color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 10px 40px 10px 30px;
  min-height: 100%;
  min-width: 100%;
  resize: none;
  box-sizing: border-box;
  min-height: 44px;
}

.main-container .publish-container .remove-box
{
  display: none;
}

.main-container .publish-container .icons, .main-container .publish-container .remove-box
{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;  
  padding: 10px;
}

.main-container .publish-container .icons span, .main-container .publish-container .remove-box span
{
  padding: 7px;
  font-size: 18px;
  color: #DDDFDF;
  transition: 0.2s;
}

.main-container .publish-container .icons span:hover, .main-container .publish-container .remove-box span:hover
{
  cursor: pointer;
  color: rgb(206, 207, 207);
  transform: scale(1.1);
}

.main-container .publish-container .publish-button
{
  position: absolute;
  top: 6px;
  right: 8px;
  color: #FFF;
  background-color: rgb(131, 178, 224);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding-top: 5px;
  padding-left: 7px;
  display: none;
  transition: 0.2s;
  cursor: pointer;
}

.main-container .publish-container .publish-button:hover
{
  transform: scale(1.1);
}

.posts-container
{
  margin-top: 30px;
}

.post-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.post
{
  background-color: #FFF;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.posts-container * div:not(:first-child) .post
{
  margin-top: 25px;
}

.post-container .post img
{
  height: 80px;
  border-radius: 50%;
  border: 5px solid #F5F7F8;
  position: absolute;
  top: -15px;
  left: 10px;
  cursor: pointer;
}

.post-container .post .delete
{
  position: absolute;
  top: 5px;
  right: 10px;
  color: #b7b7b7;
  transition: 0.2s;
}

.post-container .post .delete:hover
{
  cursor: pointer;
  transform: scale(1.1);
}

.post-container .post .score
{
  position: absolute;
  right: 20px;
}

.post-container .post .score span
{
  background-color: rgb(131, 178, 224);
  padding: 5px;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
}

.post-container .post .title
{
  margin-left: 90px;
  color: rgb(97, 97, 97);
}

.post-container .post .title h4
{
  margin-bottom: 0;
  font-size: 1.1rem;
}

.post-container .post .title small
{
  margin-top: -2px;
  display: block;
}

.post-container .post p
{
  margin-top: 25px;
  background-color: #F5F7F8;
  color: #949090;
  text-align: justify;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 200;
  line-height: 16px;
}

.post-container .post * span
{
  color: #b7b7b7;
  font-weight: 200;
  font-size: 15px;
}

.post-container .post .fav-counter:hover
{
  cursor: pointer;
}

.post-container .post + .post-comments
{
  transform: translateY(-100%);
  position: relative;
  width: 90%;
  background-color: #FFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  z-index: 1;
}

.post-container .post + .post-comments .post-comment-thumbnail
{
  display: flex;
  position: relative;
}

.post-container .post + .post-comments .post-comment-thumbnail img
{
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.post-container .post + .post-comments .post-comment-thumbnail .author,
.postViewer .postComments .comment .author
{
  opacity: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  color: #FFF;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.2s;
}

.post-container .post + .post-comments .post-comment-thumbnail .author:after,
.post-container .post + .post-comments .post-comment-thumbnail .author:before,
.postViewer .postComments .comment .author:after,
.postViewer .postComments .comment .author:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.post-container .post + .post-comments .post-comment-thumbnail .author:before,
.postViewer .postComments .comment .author:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: rgba(0,0,0,0.7);
	border-width: 7.75px;
	margin-top: -7.75px;
}

.post-container .post + .post-comments .post-comment-thumbnail img:hover  + .author,
.postViewer .postComments .comment img:hover + .author {
  opacity: 1;
}

.post-container .post + .post-comments .post-comment-thumbnail p
{
  flex: 1;
  background-color: #F5F7F8;
  color: #949090;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 7.5px;
  border-radius: 5px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-container .post + .post-comments span.closebox
{
  display: none;
  position: absolute;
  bottom: -25px;
  right: 5px;
  height: 30px;
  width: 30px;
  padding: 5px;
  background-color: #FFF;
  color: #b7b7b7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 17px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.post-container .post + .post-comments .buttonBox
{
  position: absolute;
  bottom: -28px;
  background-color: #FFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

.modal.fade
{
  background-color: rgba(0,0,0,0.7);
}

.modal-content
{
  background: none;
}

.postViewer .postComment
{
  margin-top: 10px;
  position: relative;
  height: 44px;
  min-height: 44px;
}

.postViewer .postComment #comment-content
{
  background-color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 10px 40px 10px 30px;
  min-width: 100%;
  resize: none;
  box-sizing: border-box;
  min-height: 44px;
}

.postViewer .postComment .remove-box
{
  display: none;
}

.postViewer .postComment .icons, .postViewer .postComment .remove-box
{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;  
  padding: 10px;
}

.postViewer .postComment .icons span, .postViewer .postComment .remove-box span
{
  padding: 7px;
  font-size: 18px;
  color: #DDDFDF;
  transition: 0.2s;
}

.postViewer .postComment .icons span:hover, .postViewer .postComment .remove-box span:hover
{
  cursor: pointer;
  color: rgb(206, 207, 207);
  transform: scale(1.1);
}

.postViewer .postComment .publish-button
{
  position: absolute;
  top: 6px;
  right: 8px;
  color: #FFF;
  background-color: rgb(131, 178, 224);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding-top: 5px;
  padding-left: 7px;
  display: none;
  transition: 0.2s;
  cursor: pointer;
}

.postViewer .postComment .publish-button:hover
{
  transform: scale(1.1);
}

.postViewer .postComments
{
  background-color: #FFF;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.postViewer .postComments .comment
{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.postViewer .postComments .comment:not(:first-child)
{
  margin-top: 10px;
}

.postViewer .postComments .comment img
{
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}

.postViewer .postComments .comment .content
{
  position: relative;
  background-color: #F5F7F8;
  color: #949090;
  text-align: justify;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 200;
  margin-left: 10px;
  flex: 1;
}

.postViewer .postComments .comment p
{
  margin-bottom: 0;
  padding-right: 15px;
}

.postViewer .postComments .comment .content .remove
{
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  cursor: pointer;
}

.postViewer .postComments .comment .content:hover .remove
{
  display: block;
}

.postViewer .postComments .comment .comment-infos
{
  display: flex;
  flex: 1 1 100%;
  font-size: 14px;
  color: #b7b7b7;
  font-weight: 200;
}

.postViewer .postComments .comment .comment-infos .favorites
{
  flex: 1;
  text-align: left;
  margin-left: 50px;
}

.postViewer .postComments .comment .comment-infos .date
{
  flex: 1;
  text-align: right;
}

span.comment-counter, span.fav-counter, .post-details .counter-container {
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link 
{
  color: rgb(171, 171, 171);
}

.user-container.right-container 
{
  text-align: left;
}

.user-container.right-container h5
{
  color: rgb(97, 97, 97);
}

.user-container.right-container div.trend-title
{
  display: flex;
  margin-bottom: 5px;
}

.user-container.right-container div.trend-title p
{
  color: rgb(97, 97, 97);
  font-weight: 500;
  flex: 1;
}

.user-container.right-container div.trend-title div.score
{
  flex: 1;
  text-align: right;
}

.user-container.right-container div.trend-title div.score span
{
  background-color: rgb(131, 178, 224);
  padding: 5px;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
}

.user-container.right-container div.trend-content
{
  background-color: #F5F7F8;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  transition: 0.2s;
}

.user-container.right-container div.trend-content:hover
{
  transform: scale(1.05);
  cursor: pointer;
}

.user-container.right-container div.trend-content p
{
  font-weight: 300;
  color: #949090;
}

.user-container.right-container a
{
  color: rgb(207, 148, 202);
  transition: 0.2s;
}

.user-container.right-container a:hover, .user-container.right-container a:focus
{
  text-decoration: none;
  color: rgba(146, 74, 141, 1);
  cursor: pointer;
}

.user-container.right-container .see-more-button
{
  background-color: rgb(131, 178, 224);
  border-color: rgb(131, 178, 224);
  padding: 3px 12px 3px 12px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.user-container.right-container .see-more-button:active
{
  color: #FFF !important;
}

.user-container.right-container .see-more-button:hover
{
  color: rgb(131, 178, 224);
  background-color: #FFF;
}

.user-container.right-container .right-container-header
{
  display: flex;
}

.user-container.right-container .right-container-header .refresh-trends
{
  margin-left: 10px;
}

.btn-info
{
  background-color: rgb(131, 178, 224);
  border-color: rgb(131, 178, 224);
  padding: 3px 12px 3px 12px;
  font-size: 14px;
}

.btn-info:hover
{
  color: rgb(131, 178, 224);
  border-color: rgb(131, 178, 224);
  background-color: #FFF;
}

.btn-info:active
{
  background-color: rgb(131, 178, 224) !important;
  border-color: rgb(131, 178, 224) !important;
}

.infos-container
{
  position: relative;
  height: fit-content;
  background-color: #FFF;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 50px 2px rgba(0,0,0,0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.infos-container .logo
{
  position: absolute;
  height: 64px;
  left: -15px;
  top: -15px;
}

.infos-container h4
{
  text-align: center;
  color: #6f6f6f;
}

.infos-container hr
{
  width: 50vw;
  border-color: #e8e8e8;
}

.headerLogo
{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.register-confirmation *
{
  font-weight: 200 !important;
}

.register-confirmation * input,
.register-confirmation * select,
.register-confirmation * textarea
{
  background: none !important;
  border: none;
  border-bottom: 1px solid #919191 !important;
  border-radius: 0 !important;
}

.register-confirmation * textarea
{
  height: 0;
  min-height: calc(2.25rem + 2px) !important;
}

.register-confirmation * input:focus,
.register-confirmation * select:focus,
.register-confirmation * textarea:focus
{
  border-bottom: 1px solid #CF94CA !important;
}

.register-title 
{
  text-align: center;
  color: #6f6f6f;
}

.register-confirmation-image
{
  display: inline-block;
  position: relative;
}

.register-title .register-confirmation-image img
{
  border-radius: 50%;
  margin-bottom: 10px;
}

.register-title .register-confirmation-image span
{
  position: absolute;
  bottom: 3px;
  background-color: #E0E1E4;
  left: 20px;
  color: #FFF;
  width: 88px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.register-title img:hover, .register-title .register-confirmation-image span
{
  cursor: pointer;
}

.register-title textarea
{
  width: 35vw;
  border-color: #c5c5c5;
  border-radius: 5px;
  resize: none;
  margin: 0 auto;
}

.confirmRegisterButton
{
  background: none !important;
  border: 1px solid #919191 !important;
  color: #919191;
  transition: 0.2s;
}

.confirmRegisterButton:hover
{
  background: #a6c1ee !important;
  border-color: #a6c1ee !important;
}

.modal-choice
{
  flex: 1;
  transition: 0.2s;
}

.modal-choice.btn-primary
{
  background-color: rgb(131, 178, 224);
  border-color: rgb(131, 178, 224);
}

.modal-choice.btn-primary:active
{
  background-color: rgb(105, 143, 180) !important;
  border-color: rgb(105, 143, 180) !important;
}

.modal-choice:hover
{
  transform: scale(1.01);
}

.nav-centered-icons
{
  position: absolute;
  left: 50%;
  margin-left: -74px;
}

.nav-item-icon
{
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(131, 178, 224, .4);
  cursor: pointer;
  margin: 0 15px 0 15px;
  width: 44px;
  text-align: center;
  transition: 0.2s;
}

.nav-item-icon:hover
{
  background-color: rgba(207, 148, 202,.1);
  border-color: rgba(207, 148, 202,.7) !important;
}

.nav-link
{
  transition: 0.2s;
  color: rgb(131, 178, 224) !important;
}

.nav-item-icon:hover .nav-link, .nav-link:hover
{
  color: rgba(207, 148, 202,.7) !important;
}

.no-center
{
  text-align: left !important;
}

.no-underline:hover, .no-underline:focus
{
  text-decoration: none;
}

.side-menu ul
{
  padding: 0px 30px 10px 30px;
  margin: 10px 0 0 0;
  list-style-type: none;
  text-align: left;
  width: calc(100% + 60px);
  margin-left: -30px;
}

.side-menu ul li
{
  width: 100%;
}

.side-menu ul li a
{
  margin-top: 10px;
  background-color: #FFF;
  border-radius: 5px;
  color: rgb(97, 97, 97);
  text-decoration: none;
  display: block;
  padding: 5px;
  width: 100%;
  transition: 0.2s;
  border-left: 2px solid #FFF;
  font-size: 17px;
}
.side-menu ul li a:hover
{
  background-color: rgba(131, 178, 224, .15);
  border-left: 2px solid rgb(207, 148, 202);
  border-right: 2px solid rgb(207, 148, 202);
  color: rgb(76, 134, 191) !important;
  padding-left: 10px;
  cursor: pointer;
}

.alert-info
{
  border: 2px solid rgba(131, 178, 224, .4);
  color: rgb(131, 178, 224) !important;
  background-color: rgba(131, 178, 224, .1);
}

.dropdown-item
{
  color: rgb(76, 134, 191) !important;
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
  transition: 0.2s;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active
{
  background-color: rgba(131, 178, 224, .15);
  border-color: rgb(207, 148, 202);
  cursor: pointer;
}

.notification-success
{
  background-color: rgb(131, 178, 224);
}

.user-container.admin-top-bar
{
  padding-top: 10px;
}

.filter-button
{
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #83B2E0;
  border-radius: 50%;
  padding: 3px;
  width: 40px;
  display:inline-block;
  text-align: center;
  color: #83B2E0;
  transition: 0.2s;
}

.filter-button.active, .filter-button:hover
{
  color: #FFF;
  background-color: #83B2E0;
  cursor: pointer;
}

.user-thumbnail
{
  background: linear-gradient(45deg, #83B2E0 0, #A5CDF5 100%);
  border-radius: 5px;
  color: #FFF;
  text-align: center;
  padding: 10px;
  position: relative;
}

.user-thumbnail.admin
{
  background: linear-gradient(45deg, #CF94CA 0, #E8B4E3 100%);
}

.user-thumbnail .infos
{
  padding-left: 50px;
}

.user-thumbnail .infos img
{
  height: 55px;
  width: 55px;
  position: absolute;
  top: 10px;
  left: 5px;
  border: 1px solid #FFF;
}

.user-thumbnail .infos h4, .user-thumbnail .infos h5
{
  font-weight: 200;
}

.user-thumbnail .infos h4
{
  font-size: 21px;
}

.user-thumbnail .infos h5
{
  font-size: 14px;
}

.user-thumbnail .infos small
{
  font-size: 11px;
}

.user-thumbnail hr
{
  border-color: rgba(255,255,255,0.2);
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-thumbnail * .action
{
  font-size: 18px;
  transition: 0.2s;
}

.user-thumbnail * .action:hover
{
  cursor: pointer;
  transform: scale(1.15);
}

.admin-dashboard
{
  padding: 20px !important;
  padding-top: 10px !important;
}

.admin-dashboard:not(:first-child)
{
  margin-top: 10px;
}

.admin-dashboard h4 
{
  margin: 0;
  text-align: left;
}

.admin-dashboard div.connection-state 
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-weight: 200;
  font-size: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: linear-gradient(45deg, #84DE86 0, #68B06A 100%);
}

.admin-dashboard div p:first-child
{
  text-align: left;
}

.admin-dashboard .admin-dashboard-info 
{
  width: 200px;
  color: #FFF;
  padding: 5px;
  background: linear-gradient(45deg, #83B2E0 0, #A5CDF5 100%);
  border-radius: 5px;
  text-align: center;
}

.admin-dashboard .admin-dashboard-info p 
{
  font-weight: lighter !important;
} 

.admin-dashboard .admin-dashboard-info h3
{
  font-size: 35px;
  font-weight: 400;
}

.admin-dashboard-storage
{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #FFF;
  padding: 5px;
  background: linear-gradient(45deg, #83B2E0 0, #A5CDF5 100%);
  border-radius: 5px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.admin-dashboard-storage.warning
{
  background: linear-gradient(45deg, #CF94CA 0, #E8B4E3 100%);
}

.admin-dashboard-storage h5
{
  font-weight: 200;
}

.admin-dashboard-storage p
{
  font-size: 20px;
}

.admin-dashboard-storage hr
{
  border-color: rgba(255,255,255,0.2);
}

.used-volume-info
{
  margin-top: 10px;
  border-top:1px solid rgba(255,255,255,0.2);
  padding-top: 10px;
}

.used-volume-info div
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.admin-dashboard-storage div.used-volume
{
  background-color: #87B5E3;
  border: 5px solid rgba(255, 255, 255, 0.15);
  border-right-color: #FFF; 
  border-top-color: #FFF;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  border-radius: 50px;
}

.admin-dashboard-storage.warning div.used-volume
{
  background-color: #CF94CA;
}

.admin-dashboard-storage .used-volume-info p
{
  font-weight: 200;
  margin-top: -8px;
}

.admin-logs-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.admin-logs-container .admin-log
{
  background: linear-gradient(45deg, #83B2E0 0, #A5CDF5 100%);
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.admin-dashboard .see-more-button
{
  background-color: rgb(131, 178, 224);
  border-color: rgb(131, 178, 224);
  padding: 3px 12px 3px 12px;
  font-size: 19px;
  color: rgb(131, 178, 224);
  background-color: #FFF;
}

.admin-dashboard .see-more-button:hover
{
  background-color: rgb(131, 178, 224);
  border-color: rgb(131, 178, 224);
  color: #FFF;
}

.pink-gradient
{
  background: linear-gradient(45deg, #CF94CA 0, #E8B4E3 100%) !important;
}

.docs-container
{
  max-width: none !important;
  width: 100%;
  padding: 0;
}

.docs-left-subcontainer, .docs-right-subcontainer, .docs-top-subcontainer
{
  background: #FFF;
  padding: 10px;
}

.docs-left-subcontainer
{
  background: rgb(241, 241, 241);
  box-shadow: inset -3px 3px 10px -5px #888;
}

.docs-right-subcontainer
{
  box-shadow: inset 0px 3px 10px -5px #888;
}

.docs-left-subcontainer, .docs-right-subcontainer
{
  min-height: calc(100vh - 49px);
}

.dropdown-toggler .dropdown-content
{
  margin-left: 20px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  overflow: hidden;
  height: 0;
}

.dropdown-toggler:hover .dropdown-content
{
  visibility: visible;
  opacity: 1;
  height: auto;
}

.navbar-light
{
  background: #FFF;
}

.user-modal
{
  max-width: none;
  margin: 0 auto;
  margin-top: 30px;
  width: 80vw;  
}

.user-modal .modal-content
{
  width: 80vw;
}
